<div class="bg-brand-green py-8 px-4">
    <div class="container mx-auto max-w-lg flex flex-wrap md:flex-no-wrap py-8 items-center">
        <div class="w-full md:w-auto md:flex-shrink mb-4 md:mb-0 md:mr-4 text-center">
            <div class="bg-white inline-block rounded-full w-32 h-32"></div>
        </div>
        <div class="w-full md:w-auto flex-grow md:ml-4">
            <p class="text-center md:text-left text-white text-xl md:text-2xl font-light">Over the last few years researchers at the leading boiler manufacturers believe that over <strong class="text-brand-blue">65%</strong> of their boiler breakdowns within the first 5 years were caused by untreated dirty heating water.</p>
        </div>
    </div>
</div>