<div class="bg-brand-blue p-4">
    <div class="container mx-auto flex flex-wrap">
        <div class="text-center w-full md:flex-1 md:w-auto md:text-left md:mr-2 md:mb-0 mb-4">
            <i class="fas fa-envelope text-brand-green mr-1"></i> <a href="mailto:ecoflushuk@gmail.com" class="font-bold text-lg no-underline text-white">ecoflushuk@gmail.com</a>
        </div>
        <div class="text-center w-full md:flex-1 md:w-auto md:ml-2 md:text-right">
            <i class="fas fa-phone text-brand-green mr-1"></i> <a href="tel:+441613143326" class="font-bold text-lg no-underline text-white">0161 314 3326</a>
        </div>
    </div>
</div>