<div class="bg-white p-4">
    <div class="container flex flex-wrap sm:flex-no-wrap mx-auto items-center">
        <div class="text-center w-full sm:w-auto sm:flex-shrink">
            <a href="/" class="font-bold text-2xl text-grey-darker inline-block max-w-xs">
                {% include logo-svg.html %}
            </a>
        </div>
        <div class="hidden sm:block sm:flex-grow">&nbsp;</div>
        <div class="w-full sm:w-auto sm:flex-shrink text-center pt-4 sm:py-4">
            <p class="text-base font-light text-grey-dark">Call us now</p>
            <p class="text-xl font-bold"><a href="tel:+441613143326" class="no-underline text-brand-green">0161 314 3326</a></p>
        </div>
    </div>
</div>

<div class="bg-brand-blue pt-1 md:p-0">
    <div class="hidden container md:flex mx-auto justify-center items-center py-3 font-medium">
        <div class="flex-shrink text-white mx-3">
            <i class="fa fa-check text-brand-green mr-1"></i> <span class="font-bold">Save money</span> on your heating bills
        </div>

        <div class="flex-shrink text-white mx-3">
            <i class="fa fa-check text-brand-green mr-1"></i> <span class="font-bold">Reduce</span> Carbon Emissions
        </div>

        <div class="flex-shrink text-white mx-3">
            <i class="fa fa-check text-brand-green mr-1"></i> <span class="font-bold">Prolonged Boiler</span> life
        </div>
    </div>
</div>